<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>TOAST UI Calendar 3 Weeks View DEMO</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css"
    />
    <link rel="stylesheet" type="text/css" href="../dist/tui-calendar.css" />
    <link rel="stylesheet" type="text/css" href="./css/default.css" />
    <link rel="stylesheet" type="text/css" href="./css/icons.css" />
    <link rel="stylesheet" type="text/css" href="./css/sihyun.css" />
  </head>

  <body>
    <div class="code-html">
      <div id="menu">
        <span id="menu-navi">
          <button
            type="button"
            class="btn btn-default btn-sm move-today"
            data-action="move-today"
          >
            Today
          </button>
          <button
            type="button"
            class="btn btn-default btn-sm move-day"
            data-action="move-prev"
          >
            <i
              class="calendar-icon ic-arrow-line-left"
              data-action="move-prev"
            ></i>
          </button>
          <button
            type="button"
            class="btn btn-default btn-sm move-day"
            data-action="move-next"
          >
            <i
              class="calendar-icon ic-arrow-line-right"
              data-action="move-next"
            ></i>
          </button>
        </span>
        <span id="renderRange" class="render-range"></span>
      </div>
      <div id="calendar"></div>
    </div>

    <!-- ADD BY SIHYUN -->
    <!-- The Modal -->
    <div id="myModal1" class="modal">
      <!-- Modal content -->

      <div class="modal-content">
        <div class="employment-information nav-anchor" nav_id="0">
          <div class="ec-info-container">
            <div class="ec-image">
              <img
                class="ahnlab"
                src="https://jasoseol.s3-ap-northeast-2.amazonaws.com/employment_companies/images/000/038/343/original/CI_AhnLab.jpg?1596774164"
                ;
              />
            </div>
            <div class="ec-info">
              <!-- <div class="ec-info-title ec-name">기업명</div> -->
              <div class="ec-info-content ec-name">
                <span ng-bind="item.name" class="ng-binding">안랩</span>
              </div>
              <div class="ec-info-content period">
                <!-- ngIf: item.recruit_type === 0 -->
                <div ng-if="item.recruit_type === 0" class="ng-scope">
                  <span class="time">
                    <span
                      ng-bind="item.start_time | date: 'yyyy.MM.dd HH:mm'"
                      class="ng-binding"
                      >2020.08.10 00:00 ~ 2020.08.23 23:59</span
                    >
                  </span>
                  (<span
                    ng-show="d_day(item.end_time) !== null"
                    ng-bind="Dday(item.end_time)"
                    class="orange ng-binding"
                    >11일 남음</span
                  >)
                </div>
                <!-- end ngIf: item.recruit_type === 0 -->
                <!-- ngIf: item.recruit_type === 1 -->
              </div>
              <div class="ec-info-content buttons">
                <!-- ngIf: item.employment_page_url !== null -->
                <div
                  class="ec-wrapper homepage ng-scope"
                  ng-if="item.employment_page_url !== null"
                >
                  <a
                    class="ec-option-letters link-homepage-string piwik-recruit-modal-homepage ga-recruit-modal-homepage"
                    ng-href="https://ahnlab.recruiter.co.kr"
                    target="_blank"
                    ng-click="upHomepageCount()"
                    href="https://ahnlab.recruiter.co.kr"
                  >
                    홈페이지
                  </a>
                </div>
                <!-- end ngIf: item.employment_page_url !== null -->
                <div class="ec-wrapper copy-url">
                  <div
                    class="ec-option-letters piwik-recruit-modal-share ga-recruit-modal-share"
                    ng-click="copyUrlToggle()"
                  >
                    채용 공고 공유
                  </div>
                  <!-- ngIf: showUrlDropdown -->
                  <!-- ngIf: showUrlDropdown -->
                </div>
                <div
                  class="ec-wrapper recruit-ref dropdown ng-hide"
                  uib-dropdown=""
                  on-toggle="toggled(open)"
                  ng-show="item.recruit_refs &amp;&amp; item.recruit_refs.length > 1"
                >
                  <a
                    href=""
                    class="ec-option-letters dropdown-toggle link-homepage-string"
                    uib-dropdown-toggle=""
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    기업 공채 전략
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu position">
                    <!-- ngRepeat: recruit_ref in item.recruit_refs -->
                    <li
                      ng-repeat="recruit_ref in item.recruit_refs"
                      class="ng-scope"
                    >
                      <a
                        ng-href=" http://joburl.kr/c7xhq"
                        target="_blank"
                        ng-click="open_recruit_ref(recruit_ref, 'top')"
                        href=" http://joburl.kr/c7xhq"
                      >
                        <span ng-bind="recruit_ref.name" class="ng-binding"
                          >안랩</span
                        >
                        <small
                          >(<span
                            ng-bind="recruit_ref.registered_at | date: 'yy/MM/dd'"
                            class="ng-binding"
                            >18/12/10</span
                          >)</small
                        >
                      </a>
                    </li>
                    <!-- end ngRepeat: recruit_ref in item.recruit_refs -->
                  </ul>
                </div>

                <!-- ngIf: item.attached_file_url !== null && item.attached_file_url !== undefined -->
              </div>
              <div class="count-information">
                <div class="count-item">
                  공고 조회 9065회 | 즐겨찾기 578회 | 홈페이지 방문 158회
                </div>
                <!-- end ngIf: item.employment_page_url !== null -->
              </div>
            </div>
          </div>
        </div>
        <span class="close">&times;</span>
        <img src="images/1.jpg" alt="My Image" width="700" />
      </div>
    </div>

    <div id="myModal2" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <img src="images/2.jpg" alt="My Image" width="700" />
      </div>
    </div>

    <div id="myModal3" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <img src="images/3.jpg" alt="My Image" width="700" />
      </div>
    </div>
    <!-- ADD BY SIHYUN -->

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/v2.0.3/tui-time-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/v4.0.3/tui-date-picker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js"></script>
    <script src="../dist/tui-calendar.js"></script>
    <script src="./js/data/calendars.js"></script>
    <script src="./js/data/schedules.js"></script>
    <script type="text/javascript" class="code-js">
      var cal = new tui.Calendar("#calendar", {
        defaultView: "month", // set 'month'
        month: {
          visibleWeeksCount: 3, // visible week count in monthly
        },
      });
    </script>
    <script src="./js/default.js"></script>
    <script src="./js/sihyun.js"></script>
  </body>
</html>
